<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope = "context" name = "logHost" source = "logstash.host"/>
    <springProperty scope = "context" name = "logPort" source = "logstash.port"/>

    <include resource ="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource ="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level = "INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <appender name = "LOGSTASH" class = "net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logHost}:${logPort}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <reconnectionDelay>10000</reconnectionDelay>

    </appender>

</configuration>